<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- google icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    <!-- slide image -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>김진흠 JinheumTrip</title>

    <style>
      .background_img {
        width: 100%;
        height: auto;
        background-image: url("https://cdn.pixabay.com/photo/2016/09/16/23/31/aircraft-1675369_1280.jpg");
        background-size : cover;
        background-repeat: no-repeat;
      }
      #search::-webkit-input-placeholder{
        color:black;
      }
  
      #search::-webkit-input-placeholder:after {
        color:black;
      }
  
      #search::-moz-placeholder:after {
          color:black;
      }
      #search:-ms-input-placeholder:after {     
          color:black;
      }
    </style>
  </head>
  <body>
</head>
<body style="background: #FAFAFA;">
  <div style="display:flex; flex-direction : column; align-items :center;">
    <div  style="padding-top : 15px;display: flex; width : 1600px; height : 100%; flex-direction :column; background-position : center;">
      <nav class="navbar navbar-expand-lg navbar-light" style = "display: flex; flex-direction :row; text-align:center; justify-content:center;">
        <div class="container-fluid" style="padding-top :10px; width:1400px; min-width :1060px">
          <a style="font-size :35px; color : black;" class="navbar-brand" href="/main">JinheumTrip</a>
            <div style="display: flex;"> 
              <input id = "search" placeholder="도시나 상품을 검색하세요" autocomplete="off" class="form-control me-2" style="width:400px; padding :13px 13px; border-radius :10px; background-color :transparent ;border :3;text-align : left; " >
            </div>
            {%if user_login %}
                <div style="display: flex; flex-direction : row; align-items :center;">
                  <div style="padding-right : 20px; color :#FFF">위시리스트</div>
                  <div style="padding-right : 20px; color :#FFF">내여행</div>
                  <div style="padding-right : 20px; color :#FFF">알림</div>
                  <div class="dropdown">
                      <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class = "box" style = "width : 50px; height : 50px; ">
                          <img class = "profile" src = "{% get_media_prefix %}{{ user.profile_image}}">
                        </div>
                      </a>
                      <ul class="dropdown-menu" style="left: -158px;">
                        <li><a class="dropdown-item" href="#">프로필</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                      </ul>
                  </div>
                </div>
                  {% else %}
                <a href = "/user/login"type= "button" class = "login" style="margin-left : 107px; background-color :rgb(105, 150, 235); padding :13px 13px; border :none; border-radius : 10px; color : white; text-decoration-line:none">로그인 및 회원가입 </a>
              {% endif %}
        </div>
      </nav>

      <div style="display: flex; flex-direction : row; text-align:center; justify-content:center; font-size :20px; color : black; border-bottom : solid 1px rgba(167, 166, 166, 0.25); ">
        <div style="display: flex; flex-direction : row; width : 1400px; justify-content : left; padding-top : 15px; padding-bottom : 15px;">
          <div>항공</div>
          <div style="padding-left :20px;">숙소</div>
          <div style="padding-left :20px;">렌터카</div>
          <div style="padding-left :20px;">투어</div>
          <div style="padding-left :20px;">할인혜택</div>
        </div>
      </div>
    <div style = "display : flex; flex-direction : column; align-items: center; width : 100%; height:780px ">
      <div style="padding : 20px; text-align : center; border : solid 1px rgba(219, 219, 219, 1); width : 350px; height : 300px; margin-top : 30px; background : white">
        <div style="padding-bottom : 10px; font-size : 30px"> JinheumTrip </div>
        <div style="font-weight : bold; color : gray; padding-bottom : 20px;"> 나의 여행계획을 채워보세요. </div>
        <div style="padding-bottom:20px; font-size :24px">예약이 완료되었습니다!</div>
        <button id = "login_button" class="btn btn-primary" style="width : 80%; background-color :rgb(105, 150, 235); border :none; color : white; margin-bottom:20px">예약 내역</button>

        <button id = "main" class="btn btn-primary" style="width : 80%; background-color :rgb(105, 150, 235); border :none; color : white;">홈으로 가기</button>
      </div>
    </div>
  </div>
  </body> 
</html>

<script>
  $('#main').click(function(){
    window.location.href = "/main"
  });


</script>