<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load humanize %}
    {% load mathfilters %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- google icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    <!-- slide image -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>김진흠 JinheumTrip</title>

    <style>
      .box {
        width : 150px;
        height : 150px;
        border-radius : 70%;
        overflow : hidden;
      }
      .profile {
        width : 100%;
        height : 100%;
        object-fit : cover;
      }
      
      .modal_overlay{
        width : 100%;
        height : 100%;
        position : fixed;
        left : 0;
        top : 0;
        display : none;
        flex-direction : column;
        align-items : center;
        justify-content : center;
        background-color: rgb(255,255,255, 0.4);
        z-index: 6;
      }

      .modal_window{
        background : white;
        border-radius: 40px;
        border : 1px solid rgba(255,255,255,0.4);
        width : 600px;
        height : 800px;
        position : absolute;
        padding : 30px;
        overflow: hidden;
      }


      .modal {
        display: flex;
        z-index: 500;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      span img:hover{
          cursor: -webkit-zoom-in;
      }

      .background_img {
        width: 100%;
        height: auto;
        background-image: url("https://cdn.pixabay.com/photo/2016/09/16/23/31/aircraft-1675369_1280.jpg");
        background-size : cover;
        background-repeat: no-repeat;
      }
      
      #search::-webkit-input-placeholder{
        color:#FFF;
      }

      #search::-webkit-input-placeholder:after {
        color:#FFF;
      }

      #search::-moz-placeholder:after {
          color:#FFF;
      }
      #search:-ms-input-placeholder:after {     
          color:#FFF;
      }

       body, ul, li {
        margin:0;
        padding:0;
        list-style:none;
      }
      
      /* 슬라이드 버튼 끝 */ 

      body {
        font-family: Arial, sans-serif;
      }

      .border_modal_overlay{
        width : 100%;
        height : 100%;
        position : fixed;
        left : 0;
        top : 0;
        display : none;
        flex-direction : column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255,255,255, 0);
        z-index: 6;
      }

      .counter_container {
        background : rgb(255,255,255);
        border-radius: 40px;
        border : 1px solid rgba(221, 221, 221, 1);
        width : 400px;
        height : 360px;
        position : absolute;
        padding : 30px;
        overflow: hidden;
        display : flex;
      }
      .btn {
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
      }
      #display {
        font-size: 24px;
        margin-top: 20px;
      }

      table {
        border-collapse: collapse;
        width: auto;
        margin: 0rem auto;
        background-color: white;
        border-top : 1px solid #ddd;
      }
      
       /* 테이블 행 */
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-align: center;
        
      }

      table td{
        font-size: 15px;
      }
      
      
      /* 테이블 올렸을 때 */
      tbody td:hover {
        background-color: #f1f1f1;
        opacity: 0.9;
        cursor: pointer;
      }
      
      /* 테이블 비율 */
      th:nth-child(1),
      td:nth-child(1) {
        width: 30%;
      }
    
      .flight_box {
        width : 800px;
        height: auto;
        padding : 20px;
        border-radius: 10px;
        background-color :#e4e4e4
      }

      .button {
        border: 0; 
        background-color :rgb(105, 150, 235);
        color :white;
        border-radius: 10px;
        padding :10px;
        padding-left: 20px;
        padding-right: 20px;
      }
      
      .check_box {
        width :30px
      }

    </style>
  </head>
  <body>
    <div style="display:flex; flex-direction : column; align-items :center;">
      <div class = "background_img" style="padding-top : 15px;display: flex; width : 1600px; height : 100%; flex-direction :column; background-position : center;">
        <nav class="navbar navbar-expand-lg navbar-light" style = "display: flex; flex-direction :row; text-align:center; justify-content:center;">
          <div class="container-fluid" style="padding-top :10px; width:1400px; min-width :1060px">
            <a style="font-size :35px; color : white;" class="navbar-brand" href="/main">JinheumTrip</a>
              <div style="display: flex;"> 
                <input id = "search" placeholder="도시나 상품을 검색하세요" autocomplete="off" class="form-control me-2" style="width:400px; padding :13px 13px; border-radius :10px; background-color :transparent ;border :3;text-align : left; color :#FFF" >
              </div>
              {%if user_login %}
                <div style="display: flex; flex-direction : row; align-items :center;">
                  <div style="padding-right : 20px; color :#FFF">위시리스트</div>
                  <div style="padding-right : 20px; color :#FFF">내여행</div>
                  <div style="padding-right : 20px; color :#FFF">알림</div>
                  <div class="dropdown">
                      <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class = "box" style = "width : 50px; height : 50px; ">
                          <img class = "profile" src = "{% get_media_prefix %}{{ user.profile_image}}">
                        </div>
                      </a>
                      <ul class="dropdown-menu" style="left: -158px;">
                        <li><a class="dropdown-item" href="#">프로필</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                      </ul>
                  </div>
                </div>
                  {% else %}
                <a href = "/user/login"type= "button" class = "login" style="margin-left : 107px; background-color :rgb(105, 150, 235); padding :13px 13px; border :none; border-radius : 10px; color : white; text-decoration-line:none">로그인 및 회원가입 </a>
              {% endif %}
          </div>
        </nav>
        
        <div style="display: flex; flex-direction : row; text-align:center; justify-content:center; font-size :20px; color : white; border-bottom : solid 1px rgba(167, 166, 166, 0.25); ">
          <div style="display: flex; flex-direction : row; width : 1400px; justify-content : left; padding-top : 15px; padding-bottom : 15px;">
            <div>항공</div>
            <div style="padding-left :20px;">숙소</div>
            <div style="padding-left :20px;">렌터카</div>
            <div style="padding-left :20px;">투어</div>
            <div style="padding-left :20px;">할인혜택</div>
          </div>
        </div>
        <div style="display: flex; flex-direction :row; text-align:center; justify-content:center;">
          <div class = "flight-search-area" style="width : 1400px; height : 200px; min-width:1060px;">
            <div style="display: flex; flex-direction :row; justify-content:space-between;">
              <div style="display: flex; flex-direction :row; padding-bottom : 15px;">
                <div style="padding-left : 10px;color : rgba(255,255,255)">왕복</div>
                <div style="color :rgba(255,255,255) ;margin-left: 30px;">편도</div>
              </div>
              <div style="display: flex; flex-direction :row;">
                <div style="color : rgba(255,255,255);margin-right : 20px">항공권 예약내역</div>
              </div>
            </div>
            <div style=" display: flex; flex-direction :row; justify-content:space-between;">
              <div style="display: flex; flex-direction :row; padding-bottom :15px;">
                <div style="padding-left:7px; width: 550px; display:flex; flex-direction :row;">
                  <input id = "departure" style = "padding : 10px 10px; width:250px; border-radius: 10px; border-color :rgba(255,255,255,0); outline:none" readonly="readonly" placeholder="출발" value = "{{departure_airport}}">
                  <div style="justify-content:center; text-align :center;">
                    <button id = "change_city" style="padding-top : 10px; border :0; background-color:transparent; color:black; font-size: 30px;" class="material-icons">sync_alt</button>
                  </div>
                  <input id="arrival" style = "padding : 10px 10px; width:250px; border-radius: 10px; border-color :rgba(255,255,255,0); outline:none" readonly="readonly"  placeholder="도착" value = "{{arrival_airport}}">
                </div>
                <div style="padding-left: 70px; width: 450px; display:flex; flex-direction : row">
                  <input name="datepicker" type="text"  style = "padding : 10px 10px; width:400px; border-radius: 10px; border-color :rgba(255,255,255,0); outline:none" readonly="readonly" value="{{departure_date}}               ~       {{arrival_date}}"placeholder="가는 날                    -         오는 날">
                </div>
                <div style="padding-left: 10px; width :450px">
                  <input id = "select_border" style = "padding : 10px 10px; border-radius: 10px; border-color :rgba(255,255,255,0); ;outline:none;" readonly="readonly"  value="승객 {{border_count}}명, 일반석">
                </div>
              </div>
            </div>
            <div style="display: flex; flex-direction : row; justify-content:space-between;">
              <div></div>
              <button id ="search_flight" style="border: 0; background-color :rgb(105, 150, 235);margin-right :10px; padding : 13px 13px; border-radius :20px; color :white;">
                항공권 검색
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- 출발 항공권 선택 시 선택 항공편 div -->
      {% if departure_selecting %}
        {% for select in departure_select%}
          <div id = "departure_select_{{ select.id }}" style='padding-top :30px; display: flex; flex-direction :row; justify-content : center;width:1300px; height :auto; justify-content:center'>
            <div class='flight_box' style='background-color:#e4e4e4; border: solid 1px black; width:1300px; '>
              <div style='display: flex; flex-direction :row; justify-content:space-between; align-items:center;'>
                <div>출발 항공편</div>
                <div class = 'box' style = 'width : 50px; height : 50px; margin : 10px;'>
                  <img class = 'profile' src = '{% get_media_prefix %}{{ select.airline_image}}'>
                </div>
                <div style='display: flex; flex-direction :column; text-align:center; font-size:15px;'>
                  <div>{{ select.airline_name }}</div>
                  <div id = 'departure_flight_code'>{{ select.flight_code }}</div>
                </div>
                <div style='display: flex; width:200px; font-weight :bold'>
                  <div style='display: flex; flex-direction :column; text-align:center;'>
                    <div>{{ select.departure_time }}</div>
                    <div>{{ select.departure_airport_code }}</div>
                  </div>
                  <span class='material-icons' style='padding-right: 50px; padding-left:50px; padding-top :24px'>trending_flat</span>
                  <div style='display: flex; flex-direction :column; text-align:center;'>
                    <div>{{ select.arrival_time }}</div>
                    <div>{{ select.arrival_airport_code }}</div>
                  </div>
                </div>
                <div>일반석</div>
                <div style="display: flex; flex-direction :column; align-items: center;">
                  <div><b>잔여석</b></div>
                  <div>{{ select.remaining_seat }}석</div>
                </div>
                <div style='font-weight :bold; font-size :20px'>{{ select.price|intcomma }}원</div>
                <button id = "remove" class='button'>항공편 변경</button>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <!-- 도착 항공권 선택 시 선택 항공편 div -->
      {% if arrival_selecting %}
      {% for select in arrival_select%}
        <div id = "arrival_select_{{ select.id }}" style='padding-top :30px; display: flex; flex-direction :row; justify-content : center;width:1300px; height :auto; justify-content:center'>
          <div class='flight_box' style='background-color:#e4e4e4; border: solid 1px black; width:1300px; '>
            <div style='display: flex; flex-direction :row; justify-content:space-between; align-items:center;'>
              <div>도착 항공편</div>
              <div class = 'box' style = 'width : 50px; height : 50px; margin : 10px;'>
                <img class = 'profile' src = '{% get_media_prefix %}{{ select.airline_image}}'>
              </div>
              <div style='display: flex; flex-direction :column; text-align:center; font-size:15px;'>
                <div>{{ select.airline_name }}</div>
                <div id = 'arrival_flight_code'>{{ select.flight_code }}</div>
              </div>
              <div style='display: flex; width:200px; font-weight :bold'>
                <div style='display: flex; flex-direction :column; text-align:center;'>
                  <div>{{ select.departure_time }}</div>
                  <div>{{ select.departure_airport_code }}</div>
                </div>
                <span class='material-icons' style='padding-right: 50px; padding-left:50px; padding-top :24px'>trending_flat</span>
                <div style='display: flex; flex-direction :column; text-align:center;'>
                  <div>{{ select.arrival_time }}</div>
                  <div>{{ select.arrival_airport_code }}</div>
                </div>
              </div>
              <div>일반석</div>
              <div style="display: flex; flex-direction :column; align-items: center;">
                <div><b>잔여석</b></div>
                <div>{{ select.remaining_seat }}석</div>
              </div>
              <div style='font-weight :bold; font-size :20px'>{{ select.price|intcomma }}원</div>
              <button id = "arrival_remove" arrival_select_id = {{select.id}} class='button'>항공편 변경</button>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <!-- 출발, 도착도시 모두 선택 시  -->
    {% if arrival_selecting and departure_selecting %}
     {% for select in arrival_select %}
     {% for selected in departure_select %}
    <div id = "reservation_div" style='padding-top :30px; display: flex; flex-direction :row; justify-content : center;width:1300px; height :auto; justify-content:center'>
      <div class='flight_box' style='background-color:#e4e4e4; border: solid 1px black; width:1300px; '>
        <div style="padding-bottom: 10px;">상세요금</div>
        <div style='display: flex; flex-direction :row; align-items:center; border-top :solid 1px rgb(179, 179, 179) ; padding-top :10px; padding-bottom:10px'>
          <div style="width : 220px">항목</div>
          <div style="width : 220px">출발 항공편</div>
          <div style="width : 220px">도착 항공편</div>
          <div style="width : 220px">발권 수수료</div>
          <div style="width : 250px">인원</div>
          <div>총 요금</div>
        </div>
        <div style='display: flex; flex-direction :row; align-items:center; padding-top :20px; border-top :solid 1px rgb(179, 179, 179) ; border-bottom :solid 1px rgb(179, 179, 179) ; padding-bottom :20px'>
          <div style="width : 220px">승객</div>
          <div id = "reservation_departure_code" style="width : 220px; padding-left :30px">{{selected.flight_code}}</div>
          <div id = "reservation_arrival_code" style="width : 220px; padding-left :30px">{{select.flight_code}}</div>
          <div style="width : 220px;padding-left :30px">0원</div>
          <div id = "reservation_border_count" style="width : 250px;padding-left :5px">{{border_count}}명</div>
          <div id = "total_price"><b>{% with total_price=select.price|add:selected.price|mul:border_count %}{{ total_price|intcomma }}{% endwith %}원</b></div>
        </div>
        <div style='display: flex; flex-direction :row; align-items:center; padding-top :20px;'>
          <div style="padding-right :900px; font-size :large; font-weight :bold">총 예상요금</div>
          <div style="font-size : 25px; font-weight :bold; padding-right :10px">{% with total_price=select.price|add:selected.price|mul:border_count %}{{ total_price|intcomma }}{% endwith %}원</div>
          <button id = "reservation" arrival_select_id = {{select.id}} class='button' >예약 하기</button>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  {% endif %}

      <!-- 검색 결과 창 div -->
      <div style="display: flex; flex-direction :row; justify-content :center; width: 1400px; padding-top :30px; padding-right :150px">
        <!-- 체크박스 div -->
        <div style="display :flex; flex-direction :column; justify-content :left; width :300px;">
          <div style=" display : block; padding-bottom: 10px; padding-top :10px; margin-right :50px; border-top :solid 1px rgba(221, 221, 221, 1)">
            <div style="padding-bottom :3px; display:flex; flex-direction:row; justify-content:space-between">
              <div style="font-weight: bold; font-size :medium">항공사</div>
              <button class = "material-icons" id = "close_div" style="border: none; background-color :white; height :3px">expand_less</button>
            </div>
            <div id = "airline_div">
              <div style="display: flex; flex-direction :row;">
                <div style="padding-bottom :10px; padding-right :20px">모두 선택</div>
                <div>모두 해제</div>
              </div>
              <form id = "airline_check_form" method="post">
                {% csrf_token %}
                <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                  <input class="check_box" type="checkbox" name = "대한항공" value="대한항공">
                  <div>대한항공</div>
                </div>
                <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                  <input class="check_box" type="checkbox" name = "아시아나" value="아시아나">
                  <div>아시아나</div>
                </div>
                <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                  <input class="check_box" type="checkbox" name = "제주항공" value="제주항공">
                  <div>제주항공</div>
                </div>
                <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                  <input class="check_box" type="checkbox" name = "진에어" value="진에어">
                  <div>진에어</div>
                </div>
              </form>
            </div>
          </div>
          <div style="padding-bottom: 10px; padding-top :10px; margin-right :50px; border-top :solid 1px rgba(221, 221, 221, 1)">
            <div style="padding-bottom :6px; display:flex; flex-direction:row; justify-content:space-between">
              <div style="font-weight :bold; font-size :medium">출발 시간</div>
              <button class = "material-icons" id = "close_div_2" style="border: none; background-color :white; height :3px">expand_less</button>
            </div>
            <div id = "departure_time_div">
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "새벽" value="새벽">
                <div>새벽 00:00 ~ 06:00</div>
              </div>
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "오전" value="오전">
                <div>오전 06:00 ~ 12:00</div>
              </div>
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "오후" value="오후">
                <div>오후 12:00 ~ 18:00</div>
              </div>
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "야간" value="야간">
                <div>야간 18:00 ~ 24:00</div>
              </div>
            </div>
          </div>
          <div style="padding-bottom: 10px; padding-top :10px; margin-right :50px; border-top :solid 1px rgba(221, 221, 221, 1)">
            <div style="padding-bottom :6px; display:flex; flex-direction:row; justify-content:space-between">
              <div style="font-weight :bold; font-size :medium">좌석 종류</div>
              <button class = "material-icons" id = "close_div_3" style="border: none; background-color :white; height :3px">expand_less</button>
            </div>
            <div id = "status_div">
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "비즈니스석" value="비즈니스석">
                <div>비즈니스석</div>
              </div>
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "일반석" value="일반석">
                <div>일반석</div>
              </div>
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "특가석" value="특가석">
                <div>특가석</div>
              </div>
              <div style="display: flex; flex-direction :row; padding-bottom :10px;">
                <input class="check_box" type="checkbox" name = "할인석" value="할인석">
                <div>할인석</div>
              </div>
            </div>
          </div>
        </div>


      <!-- 출발 항공권 선택시 검색 결과 창 -->
      {% if departure_selecting %}
        <div style="display: flex; flex-direction :column; width:800px">
            <div style="display: flex; flex-direction :row; align-items :center; justify-content:space-between">
              <div>
                <div>검색결과 총 {{arrival_count}}개</div>
                <div style="color: #969696;">성인 기준 1인 왕복 요금입니다. (세금 및 수수료 모두 포함)</div>
              </div>
                <form>
                  <select name = "sorted" id="sorted" onchange="saveSelection()" style="width: auto; height :40px; padding:10px; border-color :rgba(0, 0, 0, 0.2)">
                    <option value="price">가격 낮은 순</option>
                    <option value="time_asc">출발 시간 빠른 순</option>
                    <option value="time_desc">출발 시간 느린 순</option>
                  </select>
                </form>
            </div>
            <div class="flight_box" style="margin-top :20px; margin-bottom :5px">
              <div style="display: flex; flex-direction :row; justify-content :left;">
                <div style="padding-right: 30px;">항공편</div>
                <div>{{ arrival_airport }}</div>
                <span class="material-icons" style="padding-right: 50px; padding-left:50px;">trending_flat</span>
                <div style="padding-right: 30px;">{{departure_airport}}</div>
                <div>{{arrival_date}}</div>
              </div>
            </div>
      {% else %}
        <div style="display: flex; flex-direction :column; width:800px">
            <div style="display: flex; flex-direction :row; align-items :center; justify-content:space-between">
              <div>
                <div>검색결과 총 {{departure_count}}개</div>
                <div style="color: #969696;">성인 기준 1인 왕복 요금입니다. (세금 및 수수료 모두 포함)</div>
              </div>
                <select name = "sorted" id="sorted" onchange="saveSelection()" style="width: auto; height :40px; padding:10px; border-color :rgba(0, 0, 0, 0.2)">
                  <option value="price">가격 낮은 순</option>
                  <option value="time_asc">출발 시간 빠른 순</option>
                  <option value="time_desc">출발 시간 느린 순</option>
                </select>
            </div>
            <div class="flight_box" style="margin-top :20px; margin-bottom :5px">
              <div style="display: flex; flex-direction :row; justify-content :left;">
                <div style="padding-right: 30px;">항공편</div>
                <div>{{ departure_airport }}</div>
                <span class="material-icons" style="padding-right: 50px; padding-left:50px;">trending_flat</span>
                <div style="padding-right: 30px;">{{arrival_airport}}</div>
                <div>{{departure_date}}</div>
              </div>
            </div>
      {%endif%}
      
      <!-- 출발 항공권 선택 시 도착 항공권 검색 -->
      {% if departure_selecting %}
        {% for arrival in arrivals %}
          <div id = "arrival_{{arrival.id}}"class="flight_box" style="margin-top :20px; margin-bottom :20px">
            <div style="display: flex; flex-direction :row; justify-content:space-between; align-items:center;">
              <div style="display: flex; flex-direction :row; align-items :center">
                <div class = "box" style = "width : 50px; height : 50px; margin : 10px;">
                  <img id = "arrival_img" class = "profile" src = "{% get_media_prefix %}{{ arrival.airline.image}}">
                </div>
                <div style="display: flex; flex-direction :column; text-align:center; font-size:15px;">
                  <div id = 'arrival_airline_name'>{{ arrival.airline.name }}</div>
                  <div id = 'arrival_flight_code_{{arrival.id}}'>{{ arrival.flight_code }}</div>
                </div>
              </div>
              <div style="display: flex; width:200px; font-weight :bold">
                <div style="display: flex; flex-direction :column; text-align:center;">
                  <div id ='departure_time' >{{ arrival.departure_time }}</div>
                  <div id ='departure_airport_code'>{{ arrival.departure_airport.code }}</div>
                </div>
                <span class="material-icons" style="padding-right: 50px; padding-left:50px; padding-top :24px">trending_flat</span>
                <div style="display: flex; flex-direction :column; text-align:center;">
                  <div id = 'departure_arrival_time'>{{ arrival.arrival_time }}</div>
                  <div id = 'arrival_airport_code'>{{ arrival.arrival_airport.code }}</div>
                </div>
              </div>
              <div>일반석</div>
              <div style="display: flex; flex-direction :column; align-items: center;">
                <div><b>잔여석</b></div>
                <div>{{ arrival.remaining_seat }}석</div>
              </div>
              <div style="font-weight :bold; font-size :20px">{{arrival.price|intcomma}}원</div>
              <button arrival_id = "{{arrival.id}}" class="select_arrival_flight button">선택</button>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <!-- 출발 항공권 선택 -->
        {% for departure in departures %}
          <div id = "departure_{{departure.id}}" class="flight_box" style="margin-top :20px; margin-bottom :20px">
            <div style="display: flex; flex-direction :row; justify-content:space-between; align-items:center;">
              <div style="display: flex; flex-direction :row; align-items :center">
                <div class = "box" style = "width : 50px; height : 50px; margin : 10px;">
                  <img class = "profile" src = "{% get_media_prefix %}{{ departure.airline.image}}">
                </div>
                <div style="display: flex; flex-direction :column; text-align:center; font-size:15px;">
                  <div id = 'departure_airline_name_{{departure.id}}'>{{ departure.airline.name }}</div>
                  <div id = 'departure_flight_code_{{departure.id}}'>{{ departure.flight_code }}</div>
                </div>
              </div>
              <div style="display: flex; width:200px; font-weight :bold">
                <div style="display: flex; flex-direction :column; text-align:center;">
                  <div id ='departure_time' >{{ departure.departure_time }}</div>
                  <div id ='departure_airport_code'>{{ departure.departure_airport.code }}</div>
                </div>
                <span class="material-icons" style="padding-right: 50px; padding-left:50px; padding-top :24px">trending_flat</span>
                <div style="display: flex; flex-direction :column; text-align:center;">
                  <div id = 'departure_arrival_time'>{{ departure.arrival_time }}</div>
                  <div id = 'arrival_airport_code'>{{ departure.arrival_airport.code }}</div>
                </div>
              </div>
              <div>일반석</div>
              <div style="display: flex; flex-direction :column; align-items: center;">
                <div><b>잔여석</b></div>
                <div>{{ departure.remaining_seat }}석</div>
              </div>
              <div style="font-weight :bold; font-size :20px">{{departure.price|intcomma}}원</div>
              <button departure_id = "{{departure.id}}" class="select_departure_flight button">선택</button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
        </div>

    <!-- 출발 도시 모달창 -->
    <div id = "departure_modal" class = "modal_overlay">
      <div class = "modal_window" style="height: auto; width:700px">
        <div style="display :flex; flex-direction : row; justify-content :space-between;">
          <div style="font-weight: bold; font-size:20px">도시선택</div>
          <span class="modal-close material-symbols-outlined" style="cursor: pointer; color:gray">close</span>
        </div>
        <div style="display: flex; flex-direction : row; justify-content :space-between; padding-top :20px">
          <input autocomplete="off" class="form-control me-2" style="width:100%; padding :13px 13px; border-radius :10px; background-color :transparent ;border :3;text-align : left; color :black" placeholder="도시명을 입력하세요">
          <button style="width : 100px; border: 0; background-color :rgb(105, 150, 235);margin-right :10px; padding : 13px 13px; border-radius :20px; color :white;">검색</button>
        </div>
        <div style="padding-top :20px; padding-bottom :20px; font-size:large; font-weight :bold;">주요도시 바로 선택</div>
        <table>
          <tbody>
            <tr>
              <th scope="row" rowspan="2">국내</th>
              <td>인천</td>
              <td>김포</td>
              <td>제주</td>
              <td>부산</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">국내</th>
              <td>광주</td>
              <td>대구</td>
              <td>청주</td>
              <td>여수</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">일본</th>
              <td>도쿄</td>
              <td>오사카</td>
              <td>후쿠오카</td>
              <td>삿포로</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">일본</th>
              <td>오키나와</td>
              <td>나고야</td>
              <td>구마모토</td>
              <td>키타큐슈</td>
            </tr>
            <tr>
              <th scope="row" rowspan="3">아시아</th>
              <td>다낭</td>
              <td>방콕/수완나품</td>
              <td>세부</td>
              <td>싱가포르</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">아시아</th>
              <td>코타키나발루</td>
              <td>나트랑/캄란</td>
              <td>호치민</td>
              <td>대만/타오위안</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">아시아</th>
              <td>치앙마이</td>
              <td>울란바토르</td>
              <td>하노이</td>
              <td>푸켓</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">미주</th>
              <td>하와이/호놀룰루</td>
              <td>로스앤젤레스</td>
              <td>뉴욕</td>
              <td>샌프란시스코</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">미주</th>
              <td>라스베이거스</td>
              <td>댈러스</td>
              <td>밴쿠퍼</td>
              <td>토론토</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">유럽</th>
              <td>파리</td>
              <td>런던</td>
              <td>로마</td>
              <td>바르셀로나</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">유럽</th>
              <td>프랑크푸르트</td>
              <td>프라하</td>
              <td>암스테르담</td>
              <td>이스탄불</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>

    
    
    <!-- 도착 도시 모달창 -->
    <div id = "arrival_modal" class = "modal_overlay">
      <div class = "modal_window" style="height: auto; width:700px">
        <div style="display :flex; flex-direction : row; justify-content :space-between;">
          <div style="font-weight: bold; font-size:20px">도시선택</div>
          <span class="modal-close material-symbols-outlined" style="cursor: pointer; color:gray">close</span>
        </div>
        <div style="display: flex; flex-direction : row; justify-content :space-between; padding-top :20px">
          <input autocomplete="off" class="form-control me-2" style="width:100%; padding :13px 13px; border-radius :10px; background-color :transparent ;border :3;text-align : left;" placeholder="도시명을 입력하세요">
          <button style="width : 100px; border: 0; background-color :rgb(105, 150, 235);margin-right :10px; padding : 13px 13px; border-radius :20px; color :white;">검색</button>
        </div>
        <div style="padding-top :20px; padding-bottom :20px; font-size:large; font-weight :bold;">주요도시 바로 선택</div>
        <table>
          <tbody>
            <tr>
              <th scope="row" rowspan="2">국내</th>
              <td>서울</td>
              <td>김포</td>
              <td>제주</td>
              <td>부산</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">국내</th>
              <td>광주</td>
              <td>대구</td>
              <td>청주</td>
              <td>여수</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">일본</th>
              <td>도쿄</td>
              <td>오사카</td>
              <td>후쿠오카</td>
              <td>삿포로</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">일본</th>
              <td>오키나와</td>
              <td>나고야</td>
              <td>구마모토</td>
              <td>키타큐슈</td>
            </tr>
            <tr>
              <th scope="row" rowspan="3">아시아</th>
              <td>다낭</td>
              <td>방콕/수완나품</td>
              <td>세부</td>
              <td>싱가포르</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">아시아</th>
              <td>코타키나발루</td>
              <td>나트랑/캄란</td>
              <td>호치민</td>
              <td>대만/타오위안</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">아시아</th>
              <td>치앙마이</td>
              <td>울란바토르</td>
              <td>하노이</td>
              <td>푸켓</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">미주</th>
              <td>하와이/호놀룰루</td>
              <td>로스앤젤레스</td>
              <td>뉴욕</td>
              <td>샌프란시스코</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">미주</th>
              <td>라스베이거스</td>
              <td>댈러스</td>
              <td>밴쿠퍼</td>
              <td>토론토</td>
            </tr>
            <tr>
              <th scope="row" rowspan="2">유럽</th>
              <td>파리</td>
              <td>런던</td>
              <td>로마</td>
              <td>바르셀로나</td>
            </tr>
            <tr>
              <th scope="row" style="display: none;">유럽</th>
              <td>프랑크푸르트</td>
              <td>프라하</td>
              <td>암스테르담</td>
              <td>이스탄불</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <!-- 인원 좌석 선택 창 -->
    <div id = "select_border_modal" class ="border_modal_overlay">
      <div class="counter_container" >
        <div style="display: flex; flex-direction :column; width :400px">
          <div style="display: flex; flex-direction : row; justify-content:space-between">
            <div style="padding-bottom:20px; font-weight :bold; font-size :25px">
              인원 & 좌석 등급
            </div>
            <span class="modal-close material-symbols-outlined" style="cursor: pointer; color:gray">close</span>
          </div>
          <div style="padding-bottom:  20px; font-weight :bold">
            나이는 탑승일 기준으로 선택해주세요.
          </div>
          <div>
            <dl style="display: flex; flex-direction :row; justify-content:space-between; align-items :center">
              <dt style="font-size: large;">
                성인
                <span style="font-size :medium; color :gray; ">만 12세 이상</span>
              </dt>
              <dd>
                <button class="btn" onclick="adult_decrease()">-</button>
                <span id="adult">1</span>
                <button class="btn" onclick="adult_increase()">+</button>
              </dd>
          </div>
          <div>
            <dl style="display: flex; flex-direction :row; justify-content:space-between; align-items :center">
              <dt style="font-size: large;">
                소아
                <span style="font-size :medium; color :gray; ">만 12세 미만</span>
              </dt>
              <dd>
                <button class="btn" onclick="child_decrease()">-</button>
                <span id="child">0</span>
                <button class="btn" onclick="child_increase()">+</button>
              </dd>
          </div>
          <div>
            <dl style="display: flex; flex-direction :row; justify-content:space-between; align-items :center">
              <dt style="font-size: large;">
                유아
                <span style="font-size :medium; color :gray; ">24개월 미만</span>
              </dt>
              <dd>
                <button class="btn" onclick="infant_decrease()">-</button>
                <span id="infant">0</span>
                <button class="btn" onclick="infant_increase()">+</button>
              </dd>
          </div>
        </div>
      </div>
    </div>

    <!-- 항공권 결제 모달창 -->
    <div id = "payment_modal" class = "modal_overlay">
      <div class = "modal_window" style="height: auto; width:1350px">
        <div style="display :flex; flex-direction : row; justify-content :space-between;">
          <div style="font-weight: bold; font-size:20px">선택된 항공편</div>
          <span class="modal-close material-symbols-outlined" style="cursor: pointer; color:gray">close</span>
        </div>
      </div>
    </div>


  

    <!-- Optional JavaScript; choose one of the two! -->
    <script>
      $('#reservation').click(function(event){
        let arrival_reservation = document.getElementById('reservation_arrival_code').textContent;
        let departure_reservation = document.getElementById('reservation_departure_code').textContent;
        $.ajax({
          type: 'POST',
          url: '/flight/reservation/', // 데이터를 저장할 DRF API URL
          data: {
            arrival_reservation : arrival_reservation,
            departure_reservation : departure_reservation
          },
          success: function(response) {
              // 데이터가 성공적으로 저장되면 새로운 검색 창으로 이동
              window.location.href = '/flight/reservation/'
          },
          error: function(xhr, errmsg, err) {
              console.log(errmsg);
          }
        });
      });

      $(document).ready(function(){
        $('.check_box').each(function() {
          var name = $(this).attr('name');
          var isChecked = localStorage.getItem(name) === 'true';
          $(this).prop('checked', isChecked);
        });
    
        // 체크박스 상태 변경 시 저장
        $('.check_box').change(function() {
          var name = $(this).attr('name');
          var isChecked = $(this).is(':checked');
          localStorage.setItem(name, isChecked);
        }); 

        $('input[type="checkbox"]').change(function(){
            // 선택된 아이템들을 담을 배열을 초기화합니다.
            var checkedItems = [];
            var checkboxes = document.querySelectorAll('input[name="항공사"]');
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    checkedItems.push(checkbox.value);
                }
            });
        });
      });




      $(document).ready(function(){
        $("#close_div").click(function(){
          if($("#airline_div").is(":visible")){
            $("#airline_div").slideUp();
            $('#close_div').html('expand_more')
          }else{
            $("#airline_div").slideDown();
            $('#close_div').html('expand_less')
          }
        });
      });

      $(document).ready(function(){
        $("#close_div_2").click(function(){
          if($("#departure_time_div").is(":visible")){
            $("#departure_time_div").slideUp();
            $('#close_div_2').html('expand_more')
          }else{
            $("#departure_time_div").slideDown();
            $('#close_div_2').html('expand_less')
          }
        });
      });

      $(document).ready(function(){
        $("#close_div_3").click(function(){
          if($("#status_div").is(":visible")){
            $("#status_div").slideUp();
            $('#close_div_3').html('expand_more')
          }else{
            $("#status_div").slideDown();
            $('#close_div_3').html('expand_less')
          }
        });
      });


      var selectElement = document.getElementById("sorted");
      selectElement.addEventListener("change",function(){
        var selectedValue = selectElement.value;
        /*var selectedText = selectElement.options[selectElement.selectedIndex].text;*/
        $.ajax({
          type: 'POST',
          url: '/flight/sort_index/', // 데이터를 저장할 DRF API URL
          data: {
            selectedValue :selectedValue
          },
          success: function(response) {
              // 데이터가 성공적으로 저장되면 새로운 검색 창으로 이동
              window.location.href = '/flight/search/'; // 검색 페이지로 이동할 URL
          },
          error: function(xhr, errmsg, err) {
              console.log(errmsg);
          }
        });
      });


      //변경버튼 클릭시
      $('#remove').click(function(){
          var departure_airport = document.getElementById("departure").value;
          var arrival_airport = document.getElementById("arrival").value;
          array = ($('input[name="datepicker"]').val().replace(/(\s*)/g, "").split("~"))
          var border_count = ($('#select_border').val().replace("승객","").trim().split("명"))[0]
          var departure_date = array[0]
          var arrival_date = array[1]

          $.ajax({
            type: 'POST',
            url: '/flight/search_data/', // 데이터를 저장할 DRF API URL
            data: {departure_airport : departure_airport,
                  arrival_airport : arrival_airport,
                  border_count : border_count,
                  departure_date : departure_date,
                  arrival_date : arrival_date},
            success: function(response) {
                // 데이터가 성공적으로 저장되면 새로운 검색 창으로 이동
                window.location.href = '/flight/search/'; // 검색 페이지로 이동할 URL
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
      });
      $('#arrival_remove').click(function(event){
        var arrival_select_id = event.target.attributes.getNamedItem('arrival_select_id').value;
        var departure_flight_code = document.getElementById('departure_flight_code').textContent;
        var departure_airport = document.getElementById("departure").value;
        var arrival_airport = document.getElementById("arrival").value;
        array = ($('input[name="datepicker"]').val().replace(/(\s*)/g, "").split("~"))
        var border_count = ($('#select_border').val().replace("승객","").trim().split("명"))[0]
        var departure_date = array[0]
        var arrival_date = array[1]

          $.ajax({
            type: 'POST',
            url: '/flight/search_data/', // 데이터를 저장할 DRF API URL
            data: {departure_airport : departure_airport,
                  arrival_airport : arrival_airport,
                  border_count : border_count,
                  departure_date : departure_date,
                  arrival_date : arrival_date,
                  departure_flight_code :departure_flight_code},
            success: function(response) {
                // 데이터가 성공적으로 저장되면 새로운 검색 창으로 이동
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
        $('#arrival_select_' + arrival_select_id).remove()
        $('#reservation_div').remove()
    });

    $('#search_flight').click(function(event) {
      var departure_airport = document.getElementById("departure").value;
      var arrival_airport = document.getElementById("arrival").value;
      array = ($('input[name="datepicker"]').val().replace(/(\s*)/g, "").split("~"))
      var border_count = ($('#select_border').val().replace("승객","").trim().split("명"))[0]
      var departure_date = array[0]
      var arrival_date = array[1]
      if (departure_airport.trim() == ""){
        alert("출발도시를 선택하세요.");
        event.stopPropagation();
      }
      if (departure_airport != "" && arrival_airport.trim() == ""){
        alert("도착도시를 선택하세요.");
        event.stopPropagation();
      }
      if (departure_airport != "" && arrival_airport != "" && departure_date.trim() == ""){
        alert("날짜를 선택하세요.");
        event.stopPropagation();
      }

      if (!event.isPropagationStopped()) {
        $.ajax({
          type: 'POST',
          url: '/flight/search_data/', // 데이터를 저장할 DRF API URL
          data: {departure_airport : departure_airport,
                arrival_airport : arrival_airport,
                border_count : border_count,
                departure_date : departure_date,
                arrival_date : arrival_date},
          success: function(response) {
              window.location.href = '/flight/search/'
          },
          error: function(xhr, errmsg, err) {
              console.log(errmsg);
          }
        });
      }
    });


        $('.select_arrival_flight').click(function(event){
          var arrival_id = event.target.attributes.getNamedItem('arrival_id').value;
          var arrival_flight_code = document.getElementById("arrival_flight_code_"+arrival_id).textContent;
          var departure_airport = document.getElementById("departure").value;
          var arrival_airport = document.getElementById("arrival").value;
          array = ($('input[name="datepicker"]').val().replace(/(\s*)/g, "").split("~"))
          var border_count = ($('#select_border').val().replace("승객","").trim().split("명"))[0]
          var departure_date = array[0]
          var arrival_date = array[1]
          var departure_flight_code = document.getElementById('departure_flight_code').textContent;
          sessionStorage.setItem('arrival_id', arrival_id);

          $.ajax({
            type: 'POST',
            url: '/flight/search_data/', // 데이터를 저장할 DRF API URL
            data :{
              arrival_flight_code : arrival_flight_code,
              departure_airport : departure_airport,
              arrival_airport : arrival_airport,
              border_count : border_count,
              departure_date : departure_date,
              arrival_date : arrival_date,
              arrival_id : arrival_id,
              departure_flight_code : departure_flight_code,
            },
            success: function(response) {
              // 데이터가 성공적으로 저장되면 새로운 검색 창으로 이동
              window.location.href = '/flight/search/';
          },error: function(xhr, errmsg, err) {
            console.log(errmsg);
          },
          });
        });


      // 버튼 클릭 시 
      $('.select_departure_flight').click(function(event){
        var departure_id = event.target.attributes.getNamedItem('departure_id').value;
        var departure_flight_code = document.getElementById("departure_flight_code_"+departure_id).textContent;
        var departure_airport = document.getElementById("departure").value;
        var arrival_airport = document.getElementById("arrival").value;
        array = ($('input[name="datepicker"]').val().replace(/(\s*)/g, "").split("~"))
        var border_count = ($('#select_border').val().replace("승객","").trim().split("명"))[0]
        var departure_date = array[0]
        var arrival_date = array[1]
        sessionStorage.setItem('departure_id', departure_id);
        $.ajax({
          type: 'POST',
          url: '/flight/search_data/', // 데이터를 저장할 DRF API URL
          data: {departure_flight_code : departure_flight_code,
            departure_airport : departure_airport,
            arrival_airport : arrival_airport,
            border_count : border_count,
            departure_date : departure_date,
            arrival_date : arrival_date,
            departure_id : departure_id},
          success: function(response) {
              // 데이터가 성공적으로 저장되면 새로운 검색 창으로 이동
              window.location.href = '/flight/search/'; // 검색 페이지로 이동할 URL
          },
          error: function(xhr, errmsg, err) {
              console.log(errmsg);
          },
        });
      });
      window.onload = function() {
        var departure_id = sessionStorage.getItem('departure_id');
        if(departure_id == null){
          console.log("항공권을 선택해주세요")
        }
        else{
          sessionStorage.clear()
        }
      };


      window.onload = function() {
        var storedValue = localStorage.getItem('selectedValue');
        if (storedValue) {
          document.getElementById('sorted').value = storedValue;
        }
      }
      
      // 선택 상자의 값을 변경할 때마다 로컬 스토리지에 저장
      function saveSelection() {
        var selectedValue = document.getElementById('sorted').value;
        localStorage.setItem('selectedValue', selectedValue);
      }



      // 출발, 도착도시 모달
      $("#departure_modal").on("click", "td", function (e) {
        let td = e.currentTarget.textContent;
        console.log(td)
        $('input#departure').attr("value", td)
        $('#departure_modal').fadeOut();
      });
      $("#arrival_modal").on("click", "td", function (e) {
        let td = e.currentTarget.textContent;
        console.log(td)
        $('input#arrival').attr("value", td)
        $('#arrival_modal').fadeOut();
      });


      $('#change_city').click(function(){
        let departure = document.getElementById("departure").value;
        let arrival = document.getElementById("arrival").value;
        $('input#departure').attr("value",arrival)
        $('input#arrival').attr("value",departure)
      });

      // 인원, 좌석등급 모달창, 카운터
      
      var audlt_count = 1;
      var child_count = 0;
      var infant_count = 0;
  
      function adult_increase() {
        audlt_count++;
        document.getElementById("adult").textContent = audlt_count;
        $("input#select_border").attr("value", "승객" + " " + (parseInt(document.getElementById('adult').textContent)
        + parseInt(document.getElementById('child').textContent)
        + parseInt(document.getElementById('infant').textContent)+ "명" + ","+ " 일반석"))
      }
      
      function adult_decrease() {
        if (audlt_count > 1) {
          audlt_count--;
          document.getElementById("adult").textContent = audlt_count;
          $("input#select_border").attr("value", "승객" + " " + (parseInt(document.getElementById('adult').textContent)
          + parseInt(document.getElementById('child').textContent)
          + parseInt(document.getElementById('infant').textContent)+ "명" + ","+ " 일반석"))
        }
      }

      function child_increase() {
        child_count++;
        document.getElementById("child").textContent = child_count;
        $("input#select_border").attr("value", "승객" + " " + (parseInt(document.getElementById('adult').textContent)
        + parseInt(document.getElementById('child').textContent)
        + parseInt(document.getElementById('infant').textContent)+ "명" + ","+ " 일반석"))
      }
      
      function child_decrease() {
        if (child_count > 0) {
          child_count--;
          document.getElementById("child").textContent = child_count;
          $("input#select_border").attr("value", "승객" + " " + (parseInt(document.getElementById('adult').textContent)
          + parseInt(document.getElementById('child').textContent)
          + parseInt(document.getElementById('infant').textContent)+ "명" + ","+ " 일반석"))
        }
      }function infant_increase() {
        infant_count++;
        document.getElementById("infant").textContent = infant_count;
        $("input#select_border").attr("value", "승객" + " " + (parseInt(document.getElementById('adult').textContent)
        + parseInt(document.getElementById('child').textContent)
        + parseInt(document.getElementById('infant').textContent)+ "명" + ","+ " 일반석"))
      }
      
      function infant_decrease() {
        if (infant_count > 0) {
          infant_count--;
          document.getElementById("infant").textContent = infant_count;
          $("input#select_border").attr("value", "승객" + " " + (parseInt(document.getElementById('adult').textContent)
          + parseInt(document.getElementById('child').textContent)
          + parseInt(document.getElementById('infant').textContent)+ "명" + ","+ " 일반석"))
        }
      }

      //모달창

      $('#select_border').click(function(){
        $('#select_border_modal').css(
          'display','flex');
      });

      $('#departure').click(function(){
        $('#departure_modal').css(
          'display','flex').hide().fadeIn();
      });

      $('.modal-close').click(function(){
        $('#departure_modal').fadeOut();
        });

        $('.modal-close').click(function(){
          $('#payment_modal').fadeOut();
          });

      $('#arrival').click(function(){
        $('#arrival_modal').css(
          'display','flex').hide().fadeIn();
      });

      $('.modal-close').click(function(){
        $('#arrival_modal').fadeOut();
        });

        $('.modal-close').click(function(){
          $('#select_border_modal').css('display','none');
          });
      

      // 광고 슬라이드
      $('.slider-2 .page-nav > div').click(function() {
    
        var $this = $(this);
        var $pagenav = $this.parent()
        var $current = $pagenav.find('.active');
        
        $current.removeClass('active');
        $this.addClass('active');
    
        var index = $this.index();
        var $슬라이더 = $this.closest('.slider-2');
        
        $슬라이더.find('.slides > div.active').removeClass('active');
        $슬라이더.find('.slides > div').eq(index).addClass('active');
        
        
      });
    
      $('.slider-2 > .side-btns > div:first-child').click(function() {
          var $this = $(this);
          var $slider = $this.closest('.slider-2');
          
          var $current = $slider.find('.page-nav > div.active');
          var $post = $current.prev();
          
          if ( $post.length == 0 ) {
              $post = $slider.find('.page-nav > div:last-child');
          }
          
          $post.click();
      });
      
      $('.slider-2 > .side-btns > div:last-child').click(function() {
          var $this = $(this);
          var $slider = $this.closest('.slider-2');
          
          var $current = $slider.find('.page-nav > div.active');
          var $post = $current.next();
          
          if ( $post.length == 0 ) {
              $post = $slider.find('.page-nav > div:first-child');
          }
          
          $post.click();
      });
      setInterval(function(){
        $('.slider-2 > .side-btns > div').eq(1).click();
      }, 3000);

      // 날짜 설정
      $(function () {
        $('input[name="datepicker"]').daterangepicker({
            "locale": {
                "format": "YYYY-MM-DD",
                "separator": " ~ ",
                "applyLabel": "확인",
                "cancelLabel": "취소",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],
                "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                "firstDay": 1,
            },
            "drops": "down",
            autoUpdateInput: false,
            startDate: $('input[name="startDate"]').val(),
            endDate: $('input[name="endDate"]').val(),
            minDate: new Date(),
        });
        $('input[name="datepicker"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('YYYY-MM-DD') + '               ~       ' + picker.endDate.format('YYYY-MM-DD'));
          console.log(picker.startDate.format('YYYY-MM-DD') + '   and   ' + picker.endDate.format('YYYY-MM-DD'));
        });
    
        $('input[name="datepicker"]').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
        });
      });

    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>